.main{
    height: 100%;
    flex: 1 0 auto;
    background-image: url("../res/BackgroundGrain.png");
    background-repeat: repeat;
    background-size: 100%;
    padding-top: 10vmin;
}

.logo{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body{
    display: flex;
    flex-direction: column;
}