#ticketwrapper{
    margin-right: 0;
    height: 100%;
    flex: 1 0 auto;
    background: url("../res/BackgroundGrain.png");
    background-size: 100vmin;
    padding-top: 1em;
    padding-bottom: 10em;
}

#main{
    display:block;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 700px;
    background: white;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

#firstWave{
    display: block;
    width: 80%;
    height: 65px;
    background: #E2E8EB;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    border-radius: 16px;
}
#secondWave{
    display: block;
    width: 80%;
    height: 65px;
    background: #E2E8EB;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
}
#thirdWave{
    display: block;
    width: 80%;
    height: 65px;
    background: #E2E8EB;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
}

.ticketTitle{
    margin-left: 4%;
    padding-top: 2%;
}

.ticketPrice{
    margin-left: 4%;
    margin-top: -2%;
    font-weight: lighter;
}

#checkoutProgress{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 5%;
    padding-bottom: 10%;
    width: 80%;
}

#continuePayment{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: 10%;
    cursor: pointer;
    float: right;
    user-select: none;
}

#ticketTotal{
    font-size: clamp(14px, 3.5vw, 32px);
    padding-bottom: 2%;
}

#logoTypo{
    width: 50vmin;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
