#wrapper{
    background-image: url("../res/logoTypo.svg");
    background-repeat: no-repeat;
    max-width: 1500px;
    background-position: right;
    background-size: 68em;
}

.intro {
    font-weight: bolder;
    font-size: 4.5em;
    text-align: left;
    max-width: 900px;
}

::selection{
    color: white;
    background-color: black;
}