.container-right{
    margin-left: auto;
    display: block;
    width: 80%;
}

.container-left{
    margin-left: 10vw;
    display: inline-flex;
    width: 80%;
    margin-top: 10vh;
}

.image{
    max-height: 40vh;
    margin-bottom: -17vh;
}

.text{
    display: block;
    margin-left: auto;
    font-size: 1.4vh;
    font-weight: normal;
    text-align: left;
    user-select: text;
    max-width: 45%;
    padding-right: 6vw;
}

.image-no{
    max-width: 50vw;
    align-content: end;
}

.text-no{
    max-width: 30vh;
    margin-left: auto;
    font-size: 1.4vh;
    font-weight: normal;
    text-align: left;
    user-select: text;
}