
@media screen and (max-width: 750px) { /* MOBILE */
    .container-right{
        display: grid;
        grid-template-areas: "image" "text";
        justify-content: space-evenly;
        padding-bottom: 1vh;
        column-gap: 1vh;
    }

    .container-left{
        display: grid;
        grid-template-areas: "image" "text";
        justify-content: space-evenly;
        padding-bottom: 1vh;
        column-gap: 1vh;
    }

    .image{
        grid-area: image;
        width: 100%;
    }

    .text{
        grid-area: text;
        user-select: text;
        max-height: 2vh;
        text-align: justify;
        font-weight: 20;
    }
}

@media screen and (min-width: 751px) { /* DESKTOP */
    .container-right{
        display: grid;
        float: right;
        grid-template-areas: "image text";
        grid-template-columns: auto 50%;
        justify-content: space-evenly;
        padding-bottom: 1vh;
        column-gap: 1vh;
    }

    .container-left{
        display: grid;
        float: right;
        grid-template-areas: "text image";
        grid-template-columns: 50% auto;
        justify-content: space-evenly;
        padding-bottom: 1vh;
        column-gap: 1vh;
    }

    .image{
        grid-area: image;
        width: 100%;
        max-width: 50vh;
    }

    .text{
        grid-area: text;
        user-select: text;
        max-height: 2vh;
        max-width: 50vw;
        text-align: justify;
        font-weight: 20;
    }
}