@media screen and (max-width: 750px) {
    .horizontal{
        height: clamp(10vh, 20vh, 30vh);
        left: 2rem;
    }

    .partnertext{
        display: none;
    }
}


.horizontal{
    display: inline-grid;
    grid-template-areas: "partnertext mijnleuvenlogo vedettlogo";
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    gap: 1rem;

}

.partnertext{
    font-size: clamp(0.7rem,1rem,1.5rem);
    margin-bottom: auto;
    margin-top: auto;
    grid-area: partnertext;
}

.vedettlogo{
    grid-area: vedettlogo;
    width: 100%;
    margin-bottom: auto;
    margin-top: auto;
    max-width: 20vw;
}

.mijnleuvenlogo{
    grid-area: mijnleuvenlogo;
    margin-bottom: auto;
    margin-top: auto;
    max-width: 30vw;
}