.Header{
    margin: auto;
    text-align: left;
    margin-bottom: 2vh;
}

.papiertje{
    min-height: 2vh;
    max-height: 7vh;
}

.link{
    position: absolute;
    z-index: 9;
}

.logo-spelled{
    min-height: 2vh;
    max-height: 10vh;
}