.Header{
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 750px) { /* MOBILE */

    .logo{
        display: inline-flex;
        visibility: visible;
        max-width: 10vw;
        vertical-align: middle;
    }

    .logo-spelled {
        display: none;
        visibility: hidden;
    }

    .hover-icon{
        display: none;
        visibility: hidden;
    }

    .link-text{
        font-size: 3vw;
    }

    .Link-spacer{
        display: inline-flex;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 5vw;
    }

    .link_container{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 751px) {

    .logo{
        display: none;
        visibility: hidden;
    }

    .logo-spelled{
        display: inline-flex;
        visibility: visible;
    }

    .hover-icon{
        position: relative;
        left: 0%;
        margin-top: -55%;
        width: 8vw;
        height: 8vw;
        opacity: 0%;
    }

    .hover-icon:hover{
        opacity: 100%;
    }

    .link-text{
        font-size: 1.3vw;
        position: relative;
    }

    .Link-spacer{
        display: inline-block;
        margin-right: 2vh;
        margin-left: 2vh;
    }

    .logo-spelled {
        padding-top: 1vh;
        height: 10%;
        max-width:65%;
    }

    .link_container{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}


.link{
    text-decoration: none;
    color: #19C5B4;
}