.container{
    height: 100%;
    width: 100%;
    display: flex;
    padding-bottom: 3em;
}

.Category{
    font-size: 1.6em;
    color: lightgrey;
    font-weight: bold;
}

.Title{
    font-weight: Bold;
    font-size: 3em;
    max-width: 600px;
    padding-top: 0.6em;
}

.Text{
    max-width: 600px;
    font-size: 1.5em;
}

.Img{
    padding-left: 3em;
    padding-top: 3.8em;
}