body {
  margin: 2%;
  background-color: #ffffff;
  font-family: "lexia-mono", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.6vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  user-select: none;
}

::selection{
  color: pink;
  background: white;
}
